body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #f3f3f3 !important;
}

.container {
    background-color: #fff;
    min-height: 100vh;
    padding-bottom: 100px;
}

.outline-grey {
    outline: 2px solid #ccc;
}

.add-section {
    border: 2px dashed #ccc; 
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    color: #ccc;
    font-size: 1.2rem;
    text-align: center;
}

.add-section:hover {
    border-color: #86b7fe;
    color: #86b7fe;
    cursor: pointer;
}

[data-tooltip]:hover::after {
    content: attr(aria-label);
    display: block;
    position: absolute;
    top: 36px;
    color: #fff !important;
    background-color: #333 !important;
    padding: 5px 10px;
    border-radius: 5px;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.p5 {
    padding: 5px;
}

.img-upload {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}